@import "tailwindcss";

@theme{
    --color-primary: #141414;
    --color-secondary: #D7D7D7;
    --color-third: #1f1f1f;
    --font-mainheading: "Kanit", sans-serif;
    --font-titlemain: "Montserrat", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-roboto-flex: "Roboto Flex", sans-serif;
    --shadow-mainButton :"0px_0px_10px_5px_rgba";
}

.overflow-y-scroll::-webkit-scrollbar {
    display: none;
}
.main-btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.main-btn:hover {
    box-shadow: 0px 0px 20px 5px rgba(215, 215, 215, 0.3);
    cursor: pointer;
    transform: scale(1.1);
}

.button-navigation{
    margin: 0px 20px;
    
}

.button-navigation:hover{
    cursor: pointer;
    border-bottom: 2px solid #D7D7D7;
}